body {
  background-color: #edf0eb !important;
  /* background-image: url("football icon.png");
  background-size: 15px;
  background-repeat: repeat;
  background-position: center center; */
}

.header-container,
.select-city {
  text-align: center;
  padding-top: 90px;
}

.header-container h1 {
  font-size: 98px;
  font-weight: bold;
  line-height: 1.2;
}

.perfect {
  color: #ffa500;
}
