body {
  background-color: #edf0eb !important;
  /* padding-top: 64px; */
}

.header-container,
.select-city {
  text-align: center;
  padding-top: 90px;
}

.header-container h1 {
  font-size: 98px;
  font-weight: bold;
  line-height: 1.2;
}

.perfect {
  color: #ffa500;
}
