.grounds-sidebar {
  background-color: #18204a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18.5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.sidebar-heading {
  color: white;
  margin-bottom: 2rem;
  margin-top: 100px;
  font-weight: 300;
  font-size: 1.5rem;
  align-self: center;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.sidebar-subheading {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.sidebar-dropdown {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  color: #18204a;
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 300;
}

.sidebar-search-input {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  color: #18204a;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 300;
}

.sidebar-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.sidebar-radio-group label {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 300;
  margin-right: 1rem;
}

.sidebar-radio-group input[type="radio"] {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  transform: scale(0.8);
  margin-top: 2px;
}

.sidebar-filter-button {
  background-color: white;
  color: #18204a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-clear-filter-button {
  background-color: #18204a;
  color: white;
  margin-top: 10px;
  border-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
