.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: #44a0de;
  color: white;
  padding: 20px;
  flex-basis: 20%;
}

.admin-profile {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.admin-profile .profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.admin-name {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-text {
  padding-left: 5px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  margin-bottom: 10%;
  padding: 10px 0 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.sidebar li:hover,
.sidebar li:focus {
  background-color: #f1f1f1;
  color: black;
}

.content {
  padding: 20px;
  flex-basis: 80%;
}

.content h1 {
  margin-top: 0;
}

.content p {
  font-size: 18px;
  line-height: 1.5;
}

.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
  border: 1px solid black;
}

.table-container th,
.table-container td {
  color: black;
  text-align: left;
  border: 1px solid black;
  padding-left: 10px;
}
