body {
  background-color: #edf0eb !important;
}

.football-logo {
  width: 50px;
  height: 50px;
  transform: scale(6);
}

#profilePicture {
  display: none;
}

.need-more-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5000;
}
